@page "/wasm-prerendering"

<h1>Blazor WebAssembly prerendering</h1>

<p>When this app is run on WebAssembly, the initial render is handled on the server to speed up the perceived load time and improve static page analysis.</p>

<p>View the source of this page to see that it was prerendered.</p>
