@page "/css-isolation"

<h1>CSS isolation</h1>

<p>Blazor components can have component-specific styles. Component-specific styles are isolated to impact only that component.</p>

<p>Define component specific styles in a .razor.css file. Component-specific styles are processed and bundled at build time and then made available to the app as a static web asset at the path <code>{project_name}.styles.css.</code></p>

<p>Both the <code>MainLayout</code> and <code>NavMenu</code> components in this sample app use component-specific styles found at <code>Shared/MainLayout.razor.css</code> and <code>Shared/NavMenu.razor.css</code>.</p>
