@page "/js-isolation"

@inject ExampleJsInterop ExampleJsInterop

<h3>JavaScript isolation</h3>

<button class="btn btn-primary" @onclick="Prompt">Prompt</button>

<p>@message</p>

@code {
    string message;

    async Task Prompt()
    {
        message = await ExampleJsInterop.Prompt("What is your favorite color?");
    }
}
